* {
    box-sizing: border-box;
}

body {
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.window > div {
    width: 100px;
    height: 100px;
    outline: 1px solid black;
}